@import "../../foundation/_mediaqueries";

/* ユーザー情報編集ページ
===============================================================*/
.profile-img {
    margin: 30px auto 0;
    max-width: 250px;
    text-align: center;
}

.profile-img img {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}
