@import "../../foundation/_mediaqueries";

/* トップページ
===============================================================*/

.user-img img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* マイページ
===============================================================*/

/* ユーザー情報編集ページ
===============================================================*/
.profile-img {
    margin: 30px auto 0;
    max-width: 250px;
    text-align: center;
}

.profile-img img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-img-input {
    text-align: center;
}

.profile-img-input input {
    display: block;
    width: 100%;
}

/* フッター
===============================================================*/
.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}
