@import "../../foundation/_mediaqueries";

/* トップページ
===============================================================*/

/* マイページ
===============================================================*/
.user-img {
    width: 80px;
}

/* ユーザー情報編集ページ
===============================================================*/
.profile-img {
    margin: 30px auto 0;
    max-width: 250px;
    text-align: center;
}

.profile-img img {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.profile-img-input {
    text-align: center;
}

.profile-img-input input {
    display: block;
    width: 100%;
}

/* フッター
===============================================================*/
.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}
